body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    flex-wrap: wrap;
}

header h1 {
    flex: 1 1 auto;
    font-size: 1.5rem;
    text-align: center;
}

.inputContainer {
    display: flex;
    justify-content: center;
    
}

select,
input[type="date"] {
    margin: 23px 5px;
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    max-width: 200px;
}

select {
    appearance: none;
    padding: 12.5px 10px;
    background-color: transparent;
    ;
    outline: none;
}

option {
    background-color: transparent;
    color: black;
}

canvas {
    width: 100%;
    max-width: 1800px;
    max-height: 600px;
    margin: 40px 0 20px 0;
    display: flex;
    justify-self: center;
}

@media (max-width: 768px) {
    header {
        align-items: flex-start;
    }

    header h1 {
        text-align: left;
        font-size: 1.2rem;
    }

    select,
    input[type="date"] {
        padding: 8px;
        width: 100%;
        max-width: 150px;
    }


    #auth {
        justify-content: center;
        margin-top: 10px;
    }

    canvas {
        margin: 25px 0 20px 0;
    }

}

@media(max-width:610px) {
    .inputContainer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #endDate {
        margin: 0;
    }


    input[type="date"] {
        margin: 23px 5px;
        padding: 6px;

    }
}

@media(max-width: 526px) {
    .inputContainer {
        display: flex;
        justify-content: center;
    }

    #endDate {
        margin: 5px;
    }


    input[type="date"] {
        margin:  5px;
        padding: 6px;

    }
}

@media (max-width: 480px) {

    select,
    input[type="date"] {
        width: calc(50% - 10px);
        margin: 5px auto;
        padding: 8px;
        font-size: 0.9rem;
    }

    header h1 {
        font-size: 1rem;
    }

    #auth button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}

@media (max-width: 425px) {

    select,
    input[type="date"] {
        width: calc(100% - 20px);
        margin: 5px auto;
    }
}